In [136]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.graphics import tsaplots
import statsmodels.api as sm
from statsmodels.tsa.arima_model import ARIMA, ARIMAResults, ARMA
from statsmodels.tsa.arima_process import ArmaProcess
from sklearn.metrics import mean_squared_error
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings("ignore")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [137]:
df = pd.read_csv('./data/AppointmentsSince2015.csv')

In [138]:
df.shape

(62020, 16)

In [139]:
df.drop_duplicates(inplace=True)

In [140]:
df.shape

(62020, 16)

In [141]:
df.columns

Index(['id', 'Patient', 'PatientAgeMeetingDate', 'PatientGender',
       'PatientState', 'PatientCity', 'PatientInsurance', 'Provider',
       'Specialty', 'AppointmentDate', 'AppointmentDuration',
       'AppointmentCreated', 'MeetingReasonForVisitId', 'MeetingStatusId',
       'OfficeId', 'CreatedBy'],
      dtype='object')

In [142]:
df['Specialty'].value_counts()

Psych/Mental Health                        14807
Medical                                    11579
Child & Adolescent Psychiatry               8272
Physician Assistant                         7033
Psychiatry                                  6986
Psych/Mental Health, Child & Adolescent     3173
Marriage & Family Therapist                 2119
Clinical                                    1271
Psychologist                                 904
Specialist/Technologist, Other               435
Name: Specialty, dtype: int64

In [143]:
# keep onl[['Specialty', 'AppointmentDate', 'AppointmentDuration']]y relevant columns
df = df[['Specialty', 'AppointmentDate', 'AppointmentDuration']]

In [144]:
# set appoinmtemnt duration column to hours
df['AppointmentDurationHours'] = df['AppointmentDuration'] / 60.0

In [145]:
df['AppointmentDate'] = pd.to_datetime(df['AppointmentDate'], format='%Y-%m-%d', errors='coerce')

In [146]:
df.index = df['AppointmentDate']

In [147]:
df.index

DatetimeIndex(['2018-07-31 16:00:00', '2018-07-31 11:00:00',
               '2018-07-26 19:00:00', '2018-07-26 16:00:00',
               '2018-07-25 16:00:00', '2018-07-25 12:00:00',
               '2018-07-25 10:00:00', '2018-07-24 18:00:00',
               '2018-07-24 18:00:00', '2018-07-24 16:00:00',
               ...
               '2015-01-05 11:30:00', '2015-01-05 11:00:00',
               '2015-01-05 10:30:00', '2015-01-05 10:00:00',
               '2015-01-05 10:00:00', '2015-01-05 10:00:00',
               '2015-01-05 10:00:00', '2015-01-05 10:00:00',
               '2015-01-05 10:00:00', '2015-01-05 09:00:00'],
              dtype='datetime64[ns]', name='AppointmentDate', length=62020, freq=None)

In [148]:
df.shape

(62020, 4)

In [149]:
#separate by specialty
doctors = ['Psychiatry', 'Child & Adolescent Psychiatry', ]
RN_PAs = ['Medical', 'Psych/Mental Health, Child & Adolescent', 'Psych/Mental Health', 'Physician Assistant']
therapists = ['Marriage & Family Therapist', 'Psychologist', 'Specialist/Technologist, Other', 'Clinical' ]

In [150]:
df['Specialty'].loc[df['Specialty'].isin(doctors)]= 'doctor'
df['Specialty'].loc[df['Specialty'].isin(RN_PAs)] = 'RN/PA'
df['Specialty'].loc[df['Specialty'].isin(therapists)] = 'therapist'

In [151]:
df.head()

,Specialty,AppointmentDate,AppointmentDuration,AppointmentDurationHours
AppointmentDate,,,,
2018-07-31 16:00:00,doctor,2018-07-31 16:00:00,60,1.00
2018-07-31 11:00:00,RN/PA,2018-07-31 11:00:00,45,0.75
2018-07-26 19:00:00,therapist,2018-07-26 19:00:00,60,1.00
2018-07-26 16:00:00,doctor,2018-07-26 16:00:00,45,0.75
2018-07-25 16:00:00,doctor,2018-07-25 16:00:00,60,1.00

In [152]:
df

,Specialty,AppointmentDate,AppointmentDuration,AppointmentDurationHours
AppointmentDate,,,,
2018-07-31 16:00:00,doctor,2018-07-31 16:00:00,60,1.00
2018-07-31 11:00:00,RN/PA,2018-07-31 11:00:00,45,0.75
2018-07-26 19:00:00,therapist,2018-07-26 19:00:00,60,1.00
2018-07-26 16:00:00,doctor,2018-07-26 16:00:00,45,0.75
2018-07-25 16:00:00,doctor,2018-07-25 16:00:00,60,1.00
2018-07-25 12:00:00,RN/PA,2018-07-25 12:00:00,45,0.75
2018-07-25 10:00:00,RN/PA,2018-07-25 10:00:00,45,0.75
2018-07-24 18:00:00,therapist,2018-07-24 18:00:00,60,1.00
2018-07-24 18:00:00,RN/PA,2018-07-24 18:00:00,60,1.00
2018-07-24 16:00:00,doctor,2018-07-24 16:00:00,60,1.00
2018-07-23 16:30:00,RN/PA,2018-07-23 16:30:00,45,0.75
2018-07-23 16:00:00,RN/PA,2018-07-23 16:00:00,45,0.75
2018-07-23 13:30:00,RN/PA,2018-07-23 13:30:00,45,0.75
2018-07-23 10:00:00,doctor,2018-07-23 10:00:00,30,0.50
2018-07-20 12:00:00,RN/PA,2018-07-20 12:00:00,45,0.75
2018-07-18 16:00:00,doctor,2018-07-18 16:00:00,60,1.00
2018-07-18 12:00:00,RN/PA,2018-07-18 12:00:00,45,0.75
2018-07-18 09:00:00,RN/PA,2018-07-18 09:00:00,45,0.75
2018-07-17 17:30:00,RN/PA,2018-07-17 17:30:00,30,0.50
2018-07-17 16:00:00,doctor,2018-07-17 16:00:00,60,1.00
2018-07-17 11:30:00,therapist,2018-07-17 11:30:00,60,1.00
2018-07-14 11:30:00,RN/PA,2018-07-14 11:30:00,60,1.00
2018-07-11 17:00:00,doctor,2018-07-11 17:00:00,45,0.75
2018-07-11 16:00:00,doctor,2018-07-11 16:00:00,60,1.00
2018-07-11 10:00:00,doctor,2018-07-11 10:00:00,45,0.75
2018-07-10 18:00:00,RN/PA,2018-07-10 18:00:00,60,1.00
2018-07-10 17:30:00,RN/PA,2018-07-10 17:30:00,45,0.75
2018-07-10 17:30:00,RN/PA,2018-07-10 17:30:00,45,0.75
2018-07-10 17:30:00,RN/PA,2018-07-10 17:30:00,45,0.75
2018-07-10 16:00:00,doctor,2018-07-10 16:00:00,60,1.00
...,...,...,...,...
2015-01-06 10:00:00,NaN,2015-01-06 10:00:00,60,1.00
2015-01-06 09:00:00,doctor,2015-01-06 09:00:00,45,0.75
2015-01-06 09:00:00,NaN,2015-01-06 09:00:00,60,1.00
2015-01-05 17:30:00,RN/PA,2015-01-05 17:30:00,45,0.75
2015-01-05 17:00:00,RN/PA,2015-01-05 17:00:00,45,0.75
2015-01-05 17:00:00,NaN,2015-01-05 17:00:00,60,1.00
2015-01-05 16:30:00,RN/PA,2015-01-05 16:30:00,45,0.75
2015-01-05 16:00:00,RN/PA,2015-01-05 16:00:00,45,0.75
2015-01-05 16:00:00,RN/PA,2015-01-05 16:00:00,45,0.75
2015-01-05 16:00:00,NaN,2015-01-05 16:00:00,30,0.50
2015-01-05 15:30:00,RN/PA,2015-01-05 15:30:00,45,0.75
2015-01-05 15:30:00,RN/PA,2015-01-05 15:30:00,45,0.75
2015-01-05 15:00:00,RN/PA,2015-01-05 15:00:00,45,0.75
2015-01-05 14:30:00,RN/PA,2015-01-05 14:30:00,45,0.75
2015-01-05 14:00:00,RN/PA,2015-01-05 14:00:00,45,0.75
2015-01-05 14:00:00,NaN,2015-01-05 14:00:00,60,1.00
2015-01-05 13:30:00,RN/PA,2015-01-05 13:30:00,45,0.75
2015-01-05 13:00:00,RN/PA,2015-01-05 13:00:00,45,0.75
2015-01-05 12:30:00,RN/PA,2015-01-05 12:30:00,45,0.75
2015-01-05 12:00:00,RN/PA,2015-01-05 12:00:00,45,0.75
2015-01-05 11:30:00,RN/PA,2015-01-05 11:30:00,45,0.75
2015-01-05 11:00:00,RN/PA,2015-01-05 11:00:00,45,0.75
2015-01-05 10:30:00,RN/PA,2015-01-05 10:30:00,45,0.75
2015-01-05 10:00:00,doctor,2015-01-05 10:00:00,180,3.00
2015-01-05 10:00:00,doctor,2015-01-05 10:00:00,180,3.00
2015-01-05 10:00:00,doctor,2015-01-05 10:00:00,180,3.00
2015-01-05 10:00:00,RN/PA,2015-01-05 10:00:00,45,0.75
2015-01-05 10:00:00,RN/PA,2015-01-05 10:00:00,45,0.75
2015-01-05 10:00:00,NaN,2015-01-05 10:00:00,60,1.00
2015-01-05 09:00:00,NaN,2015-01-05 09:00:00,60,1.00

In [153]:
df.shape

(62020, 4)

In [154]:
df.isnull().sum()

Specialty                   5441
AppointmentDate                0
AppointmentDuration            0
AppointmentDurationHours       0
dtype: int64

In [155]:
# drop rows with missing value in specialty column
df.dropna(subset=['Specialty'], how='all', inplace=True)

In [156]:
df.shape

(56579, 4)

In [158]:
dr = df[df['Specialty'] == 'doctor']
ther = df[df['Specialty'] == 'therapist']
RNPA = df[df['Specialty'] == 'RN/PA']

In [159]:
# resample to weekly data
dr = dr.resample('W-MON').sum()
RNPA = RNPA.resample('W-MON').sum()
ther = ther.resample('W-MON').sum()

In [160]:
dr.shape

(188, 2)

In [161]:
dr

                 AppointmentDuration  AppointmentDurationHours
AppointmentDate
2015-01-05                       540                  9.000000
2015-01-12                      4050                 67.500000
2015-01-19                      4530                 75.500000
2015-01-26                      4080                 68.000000
2015-02-02                      3510                 58.500000
2015-02-09                      4950                 82.500000
2015-02-16                      4980                 83.000000
2015-02-23                      4050                 67.500000
2015-03-02                      5190                 86.500000
2015-03-09                      3435                 57.250000
2015-03-16                      6885                114.750000
2015-03-23                      5850                 97.500000
2015-03-30                      5460                 91.000000
2015-04-06                      4665                 77.750000
2015-04-13                      5250                 87.500000
2015-04-20                      5790                 96.500000
2015-04-27                      5490                 91.500000
2015-05-04                      5400                 90.000000
2015-05-11                      2340                 39.000000
2015-05-18                      5985                 99.750000
2015-05-25                      5685                 94.750000
2015-06-01                      5400                 90.000000
2015-06-08                      7170                119.500000
2015-06-15                      6705                111.750000
2015-06-22                      6690                111.500000
2015-06-29                      5055                 84.250000
2015-07-06                      6645                110.750000
2015-07-13                      7080                118.000000
2015-07-20                      6675                111.250000
2015-07-27                      6690                111.500000
...                              ...                       ...
2018-01-15                      4605                 76.750000
2018-01-22                      5535                 92.250000
2018-01-29                      4955                 82.583333
2018-02-05                      3960                 66.000000
2018-02-12                      2985                 49.750000
2018-02-19                      2340                 39.000000
2018-02-26                      4155                 69.250000
2018-03-05                      5250                 87.500000
2018-03-12                      4170                 69.500000
2018-03-19                      4500                 75.000000
2018-03-26                      3750                 62.500000
2018-04-02                      4410                 73.500000
2018-04-09                      4570                 76.166667
2018-04-16                      4575                 76.250000
2018-04-23                      4445                 74.083333
2018-04-30                      4180                 69.666667
2018-05-07                      3435                 57.250000
2018-05-14                      3240                 54.000000
2018-05-21                      2820                 47.000000
2018-05-28                      2370                 39.500000
2018-06-04                      2790                 46.500000
2018-06-11                      2445                 40.750000
2018-06-18                      1620                 27.000000
2018-06-25                       645                 10.750000
2018-07-02                       420                  7.000000
2018-07-09                       105                  1.750000
2018-07-16                       210                  3.500000
2018-07-23                       150                  2.500000
2018-07-30                       165                  2.750000
2018-08-06                        60                  1.000000

[188 rows x 2 columns]

In [162]:
df_2018 = df_2015['2018-07-31':'2018-01-01']

In [163]:
df_2018.shape

(11535, 4)

In [164]:
df_2018.isnull().sum()

Specialty                   141
AppointmentDate               0
AppointmentDuration           0
AppointmentDurationHours      0
dtype: int64

In [165]:
df_2018.columns

Index(['Specialty', 'AppointmentDate', 'AppointmentDuration',
       'AppointmentDurationHours'],
      dtype='object')

In [166]:
# drop rows with missing value in specialty column
df_2018.dropna(subset=['Specialty'], how='all', inplace=True)

In [167]:
df_2018.shape

(11394, 4)

In [168]:
dr = df_2018[df_2018['Specialty'] == 'doctor']
ther = df_2018[df_2018['Specialty'] == 'therapist']
RNPA = df_2018[df_2018['Specialty'] == 'RN/PA']

In [169]:
# resample to weekly data
dr = dr.resample('W-MON').sum()
RNPA = RNPA.resample('W-MON').sum()
ther = ther.resample('W-MON').sum()

In [172]:
dr.shape

(30, 2)

In [171]:
dr.head()

                 AppointmentDuration  AppointmentDurationHours
AppointmentDate
2018-01-08                      4200                 70.000000
2018-01-15                      4605                 76.750000
2018-01-22                      5535                 92.250000
2018-01-29                      4955                 82.583333
2018-02-05                      3960                 66.000000