In [86]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from statsmodels.graphics import tsaplots
import statsmodels.api as sm
from statsmodels.tsa.arima_model import ARIMA, ARIMAResults, ARMA
from statsmodels.tsa.arima_process import ArmaProcess
from sklearn.metrics import mean_squared_error
%load_ext autoreload
%autoreload 2
import warnings
warnings.filterwarnings("ignore")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [87]:
df = pd.read_csv('./data/AppointmentsSince2015.csv')

In [88]:
df.shape

(62020, 16)

In [89]:
df.drop_duplicates(inplace=True)

In [90]:
df.shape

(62020, 16)

In [91]:
df.columns

Index(['id', 'Patient', 'PatientAgeMeetingDate', 'PatientGender',
       'PatientState', 'PatientCity', 'PatientInsurance', 'Provider',
       'Specialty', 'AppointmentDate', 'AppointmentDuration',
       'AppointmentCreated', 'MeetingReasonForVisitId', 'MeetingStatusId',
       'OfficeId', 'CreatedBy'],
      dtype='object')

In [92]:
df['Specialty'].value_counts()

Psych/Mental Health                        14807
Medical                                    11579
Child & Adolescent Psychiatry               8272
Physician Assistant                         7033
Psychiatry                                  6986
Psych/Mental Health, Child & Adolescent     3173
Marriage & Family Therapist                 2119
Clinical                                    1271
Psychologist                                 904
Specialist/Technologist, Other               435
Name: Specialty, dtype: int64

In [93]:
# keep onl[['Specialty', 'AppointmentDate', 'AppointmentDuration']]y relevant columns
df = df[['Specialty', 'AppointmentDate', 'AppointmentDuration']]

In [94]:
# set appoinmtemnt duration column to hours
df['AppointmentDurationHours'] = df['AppointmentDuration'] / 60.0

In [95]:
df['AppointmentDate'] = pd.to_datetime(df['AppointmentDate'], format='%Y-%m-%d', errors='coerce')

In [115]:
df.index = df['AppointmentDate']

In [83]:
df.shape

(62020, 4)

In [96]:
#separate by specialty
doctors = ['Psychiatry', 'Child & Adolescent Psychiatry', ]
RN_PAs = ['Medical', 'Psych/Mental Health, Child & Adolescent', 'Psych/Mental Health', 'Physician Assistant']
therapists = ['Marriage & Family Therapist', 'Psychologist', 'Specialist/Technologist, Other', 'Clinical' ]

In [97]:
df['Specialty'].loc[df['Specialty'].isin(doctors)]= 'doctor'
df['Specialty'].loc[df['Specialty'].isin(RN_PAs)] = 'RN/PA'
df['Specialty'].loc[df['Specialty'].isin(therapists)] = 'therapist'

In [98]:
df.head()

,Specialty,AppointmentDate,AppointmentDuration,AppointmentDurationHours
0,doctor,2018-07-31 16:00:00,60,1.00
1,RN/PA,2018-07-31 11:00:00,45,0.75
2,therapist,2018-07-26 19:00:00,60,1.00
3,doctor,2018-07-26 16:00:00,45,0.75
4,doctor,2018-07-25 16:00:00,60,1.00

In [99]:
df.shape

(62020, 4)

In [100]:
df.isnull().sum()

Specialty                   5441
AppointmentDate                0
AppointmentDuration            0
AppointmentDurationHours       0
dtype: int64

In [111]:
dr = df[df['Specialty'] == 'doctor']
ther = df[df['Specialty'] == 'therapist']
RNPA = df[df['Specialty'] == 'RN/PA']

In [112]:
# resample to weekly data
dr = dr.resample('W-MON').sum()
RNPA = RNPA.resample('W-MON').sum()
ther = ther.resample('W-MON').sum()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'

In [113]:
dr

,Specialty,AppointmentDate,AppointmentDuration,AppointmentDurationHours
0,doctor,2018-07-31 16:00:00,60,1.00
3,doctor,2018-07-26 16:00:00,45,0.75
4,doctor,2018-07-25 16:00:00,60,1.00
9,doctor,2018-07-24 16:00:00,60,1.00
13,doctor,2018-07-23 10:00:00,30,0.50
15,doctor,2018-07-18 16:00:00,60,1.00
19,doctor,2018-07-17 16:00:00,60,1.00
22,doctor,2018-07-11 17:00:00,45,0.75
23,doctor,2018-07-11 16:00:00,60,1.00
24,doctor,2018-07-11 10:00:00,45,0.75
29,doctor,2018-07-10 16:00:00,60,1.00
36,doctor,2018-07-09 13:30:00,45,0.75
37,doctor,2018-07-09 10:00:00,30,0.50
45,doctor,2018-07-03 16:00:00,30,0.50
52,doctor,2018-07-02 12:30:00,30,0.50
53,doctor,2018-07-02 10:30:00,45,0.75
54,doctor,2018-07-02 10:00:00,30,0.50
58,doctor,2018-06-27 17:30:00,45,0.75
59,doctor,2018-06-27 16:00:00,60,1.00
67,doctor,2018-06-26 17:30:00,45,0.75
69,doctor,2018-06-26 16:00:00,60,1.00
70,doctor,2018-06-26 15:00:00,60,1.00
75,doctor,2018-06-26 10:00:00,45,0.75
80,doctor,2018-06-25 10:30:00,30,0.50
82,doctor,2018-06-25 10:00:00,30,0.50
87,doctor,2018-06-22 10:00:00,60,1.00
94,doctor,2018-06-20 16:00:00,60,1.00
108,doctor,2018-06-19 16:00:00,60,1.00
110,doctor,2018-06-19 14:00:00,180,3.00
111,doctor,2018-06-19 12:30:00,45,0.75
...,...,...,...,...
61923,doctor,2015-01-07 16:00:00,45,0.75
61925,doctor,2015-01-07 15:30:00,45,0.75
61928,doctor,2015-01-07 15:00:00,45,0.75
61929,doctor,2015-01-07 14:30:00,45,0.75
61930,doctor,2015-01-07 14:30:00,45,0.75
61932,doctor,2015-01-07 14:00:00,30,0.50
61933,doctor,2015-01-07 12:30:00,45,0.75
61935,doctor,2015-01-07 12:00:00,45,0.75
61937,doctor,2015-01-07 11:30:00,90,1.50
61940,doctor,2015-01-07 11:00:00,45,0.75
61946,doctor,2015-01-07 10:00:00,90,1.50
61953,doctor,2015-01-06 16:30:00,45,0.75
61955,doctor,2015-01-06 16:00:00,45,0.75
61959,doctor,2015-01-06 15:00:00,90,1.50
61962,doctor,2015-01-06 14:30:00,45,0.75
61964,doctor,2015-01-06 14:00:00,45,0.75
61967,doctor,2015-01-06 13:00:00,45,0.75
61968,doctor,2015-01-06 13:00:00,60,1.00
61971,doctor,2015-01-06 12:30:00,45,0.75
61976,doctor,2015-01-06 11:30:00,60,1.00
61979,doctor,2015-01-06 11:00:00,45,0.75
61980,doctor,2015-01-06 11:00:00,45,0.75
61983,doctor,2015-01-06 10:30:00,45,0.75
61985,doctor,2015-01-06 10:00:00,45,0.75
61986,doctor,2015-01-06 10:00:00,45,0.75
61987,doctor,2015-01-06 10:00:00,180,3.00
61991,doctor,2015-01-06 09:00:00,45,0.75
62013,doctor,2015-01-05 10:00:00,180,3.00
62014,doctor,2015-01-05 10:00:00,180,3.00
62015,doctor,2015-01-05 10:00:00,180,3.00

In [101]:
df_2018 = df_2015['2018-07-31':'2018-01-01']

In [102]:
df_2018.shape

(11535, 4)

In [104]:
df_2018.isnull().sum()

Specialty                   141
AppointmentDate               0
AppointmentDuration           0
AppointmentDurationHours      0
dtype: int64

In [105]:
df_2018.columns

Index(['Specialty', 'AppointmentDate', 'AppointmentDuration',
       'AppointmentDurationHours'],
      dtype='object')

In [106]:
# drop rows with missing value in specialty column
df_2018.dropna(subset=['Specialty'], how='all', inplace=True)

In [107]:
df_2018.shape

(11394, 4)

In [108]:
dr = df_2018[df_2018['Specialty'] == 'doctor']
ther = df_2018[df_2018['Specialty'] == 'therapist']
RNPA = df_2018[df_2018['Specialty'] == 'RN/PA']

In [109]:
# resample to weekly data
dr = dr.resample('W-MON').sum()
RNPA = RNPA.resample('W-MON').sum()
ther = ther.resample('W-MON').sum()

In [110]:
dr

                 AppointmentDuration  AppointmentDurationHours
AppointmentDate
2018-01-08                      4200                 70.000000
2018-01-15                      4605                 76.750000
2018-01-22                      5535                 92.250000
2018-01-29                      4955                 82.583333
2018-02-05                      3960                 66.000000
2018-02-12                      2985                 49.750000
2018-02-19                      2340                 39.000000
2018-02-26                      4155                 69.250000
2018-03-05                      5250                 87.500000
2018-03-12                      4170                 69.500000
2018-03-19                      4500                 75.000000
2018-03-26                      3750                 62.500000
2018-04-02                      4410                 73.500000
2018-04-09                      4570                 76.166667
2018-04-16                      4575                 76.250000
2018-04-23                      4445                 74.083333
2018-04-30                      4180                 69.666667
2018-05-07                      3435                 57.250000
2018-05-14                      3240                 54.000000
2018-05-21                      2820                 47.000000
2018-05-28                      2370                 39.500000
2018-06-04                      2790                 46.500000
2018-06-11                      2445                 40.750000
2018-06-18                      1620                 27.000000
2018-06-25                       645                 10.750000
2018-07-02                       420                  7.000000
2018-07-09                       105                  1.750000
2018-07-16                       210                  3.500000
2018-07-23                       150                  2.500000
2018-07-30                       165                  2.750000

In [29]:
dr.head()

                 AppointmentDuration  AppointmentDurationHours
AppointmentDate
2018-01-08                      4200                 70.000000
2018-01-15                      4605                 76.750000
2018-01-22                      5535                 92.250000
2018-01-29                      4955                 82.583333
2018-02-05                      3960                 66.000000